/* Main */

@mixin tamaños($ancho, $alto) {
    height: $alto;
    width: $ancho;
 } 

/* Main Contacto*/

.formulario{
    justify-content: center;
    &__item{
        width: 350px;
    }
}

/* Main Producto */

.orden{
    // justify-content: center;   //Reemplazandolo por Extend
    @extend .formulario;   //Extend
    margin-bottom: 20px;
}
.productos{
    justify-content:space-around;
}
// .foto-producto{   //Reemplazandolo por mixin
//     width: 80px;
//     height: 80px;
// }
//Aplicando mixin
.foto-producto {
    @include tamaños(80px, 80px);
 } 

/* Main Carrito */

table{
    border-collapse: collapse;
    border: black 1px solid;
    text-align: center;
}
th{
    background-color: $orange;
}
.eliminar-rojo{
    color: red;
}
// .img-carro{   //Reemplazandolo por mixin
//     width: 20px;
//     height: 20px;
// }
//Aplicando mixin
.img-carro {
    @include tamaños(20px, 20px);
 }
.carrito{
    &__detalle{
        margin-bottom: 15px;
    }
    &__total{
        margin-top: 15px;
    }
}