    $black: #000000;
    $orange: #E88B00;
    $white: #ffffff;

/*Normalize*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Globals*/

html{
    font-size: 62.5%;
    font-size: 1.2em;
}
img{
    width: 100%;
}
// h1{   //Reemplazandolo por Map-get
//     margin-top: 15px;
//     margin-bottom: 15px;
//     text-align: center;
// }
//Aplicando Map-get
$setDatos: (
  margen: 15px,
  alineacion: center
);
h1{
    margin-top: map-get($setDatos, margen);
    margin-bottom: map-get($setDatos, margen);
    text-align: map-get($setDatos, alineacion);
}

/* HELPERS */

// .center{   //Reemplazandolo por Maps
//     max-width: 1080px;
//     width: 100%;
//     margin: 0 auto;
// }
//Aplicando Maps
$centrar: (
    max-width: 1080px,
    width: 100%,
    margin: 0 auto
); 
.center{
    @each $propiedad, $atributo in $centrar {
        #{$propiedad}: $atributo;
    }
}
.flex-row {
    display: flex;
}
.flex-column {
    display: flex;
    flex-direction: column;
}

/* Animation*/

@keyframes aparecer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}